.pagination-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 6px;
    margin-top: 16px;
    margin-bottom: 24px;
    justify-content: center;
}

li {
    display: inline;
    margin-right: 10px;
}

.page-link {
    padding: 8px 12px;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}