.filters-panel {
    flex: 20;
}

.tag-filters {
    padding: 5px;
    flex-direction: column;
}

.tag-container {
    cursor: pointer;
    padding: 3px;
    display: block;
}

.tag-name {
    margin-left: 10px;
    font-size: 14px;
}
