.search-input {
  background: #047bd5;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  width: 490px;
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  border-radius: 2px;
}

.search-box:focus {
  outline: none;
}

.search-action {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  height: 30px;
  margin-left: 20px;
  padding: 6px;
  width: 78px;
}
