.card {
  border: 1px solid skyblue;
  box-shadow: 2px 3px 7px 3px #ccffcc;
  padding: 11px;
  margin: 10px 0;
}

.card:nth-child(n) {
  background: lavender;
}

.card:nth-child(2n + 1) {
  background: lightblue;
}

.card-details {
  margin-left: 10px;
}

.r-name {
  color: blue;
  text-transform: uppercase;
}

.r-pic {
  cursor: pointer;
  border-radius: 2px;
  height: 180px;
  margin: 2px;
  width: 260px;
}

.r-pic:hover {
  transform-origin: center;
  animation: scale 250ms ease-in-out forwards;
}

@keyframes scale {
  to {
    transform: scale(1.05);
  }
}

.title {
  font-weight: 500;
}

.title span {
  font-weight: 400;
}

.italics {
  font-style: italic;
}

.r-desc {
  padding: 5px 0;
  text-decoration: underline;
  width: 450px;
}

.address-line {
  width: 200px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.general-details,
.tags {
  max-width: 300px;
}

.address-details {
  max-width: 200px;
}
